.stage {
  margin: 10px auto;
  border: 10px solid black;
  border-radius: 16px;
  width: 900px;
  height: 470px;
}

.center-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  text-align: center;
}

.review-add-modal h3 {
  font-size: 18px;
  color: #ec7a23;
}

.review-add-modal .stars {
  margin-bottom: 16px;
}

.wrapper {
  padding: 10px;
}

.section-wrapper {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.alert-description {
  margin-left: 40px;
}

