.stage {
  margin: 10px auto;
  border: 10px solid black;
  border-radius: 16px;
  width: 1000px;
  height: 470px;
}

.center-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  text-align: center;
}

.drag-instruction {
  color: red;
  font-weight: bold;
  text-align: left;
  margin-bottom: 30px;
}

.review-add-modal h3 {
  font-size: 18px;
  color: #ec7a23;
}

.review-add-modal .stars {
  margin-bottom: 16px;
}
